@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  input[type='search']::-webkit-search-cancel-button {
    cursor: pointer;
  }
  :focus-visible {
    outline-color: theme('colors.brand.500');
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}

@media print {
  aside,
  header,
  nav,
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
}
